<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<form action="/detail/<%=d.id%>?_method=PATCH" method="POST">
    <input type="text" name="user" value="<%=d.user%>">
    <input type="text" name="todo" value="<%=d.todo%>">

    <button type="submit">submit</button>

</form>


<form action="/detail/<%=d.id%>?_method=DELETE" method="post">
    <button type="submit">DELETE</button>
</form>